<div class="patterns">  
    <svg width="100%" height="100%">
      <defs>
          <style>
            @import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
          </style>
      </defs>
      <rect x="0" y="0" width="100%" height="30%" fill="url(#polka-dots)"> </rect>
      <text x="50%" y="60%"  text-anchor="middle">DYRAC</text>
    </svg>
</div>
<br><br>
<div class="cabt">
    <h1>
    <span>always be</span>
    <div class="message">
      <div class="word1">close</div>
      <div class="word2">code</div>
      <div class="word3">creating</div>
    </div>
  </h1>
</div>

<div class="intro">
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque praesentium magni quia numquam illum! Aliquam in, asperiores 
iure rerum velit placeat iusto quia explicabo nemo nihil consectetur beatae, ipsum dolore? Lorem ipsum dolor sit amet 
consectetur, adipisicing elit. Quia consequatur labore esse perspiciatis similique voluptatibus dolores tempore nihil, 
aut numquam, quo ipsam laboriosam commodi culpa modi repellat! Quia, quisquam dolor. Lorem ipsum, dolor sit amet consectetur 
adipisicing elit. Sit, repudiandae laboriosam dolorem et debitis unde fuga tempora molestiae possimus est delectus eius fugiat 
cum? Suscipit hic eligendi enim veniam! Ratione. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore quam corrupti
impedit illum corporis similique rerum suscipit aliquam vel tenetur. Error enim nemo magni quis minima quisquam est ullam 
sapiente. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel saepe error nulla non, enim iste veritatis culpa itaque
sequi a eaque ullam et sit perferendis voluptate magni hic praesentium sapiente. Lorem ipsum dolor sit amet consectetur, 
adipisicing elit. Amet soluta molestiae, architecto facilis tempora exercitationem dolores repudiandae sunt accusantium quam 
voluptas ullam quidem at quisquam aliquam veniam id accusamus. Minima?</div>
</div>
  


<H1 id="contact-us">
 Contact Us
</H1>

<div id="cform">
  <form id="contact">
    <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
    <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
    <p>
      <button class="w3-button w3-black" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </p>
  </form>
</div>

<br>
<br>
<br>
<br>
<br>

  
<footer>
  <svg viewBox="0 -20 700 110" width="100%" height="110" preserveAspectRatio="none">
    <path transform="translate(0, -20)" d="M0,10 c80,-22 240,0 350,18 c90,17 260,7.5 350,-20 v50 h-700" fill="#ebbd1f" />
    <path d="M0,10 c80,-18 230,-12 350,7 c80,13 260,17 350,-5 v100 h-700z" fill="rgb(61,61,61)" />
  </svg>

</footer>
